#
# {{ ansible_managed }}
#

{% if sysctl_vm_swappiness != 60 %}
vm.swappiness = {{ sysctl_vm_swappiness }}
{% endif %}

{% if sysctl_vm_overcommit_memory %}
vm.overcommit_memory = {{ sysctl_vm_overcommit_memory }}
{% endif %}
