#
# {{ ansible_managed }}
#

{% if zram_devices is defined -%}
    {% for name, settings in zram_devices|dictsort -%}
        [{{ name }}]
        {% for key, value in settings|dictsort -%}
            {{ key }} = {{ value }}
        {% endfor -%}
    {% endfor -%}
{% else -%}
    [zram0]
    zram-size = ram / 2
    compression-algorithm = lzo-rle
{% endif -%}
