# {{ ansible_managed }}

[Unit]
Description=cappuccino IRC bot
After=network-online.target
Requires=postgresql-13.service

[Service]
User={{ cappuccino_user }}
SyslogIdentifier=cappuccino
ExecStart=/usr/local/bin/poetry run python -m irc3 config.ini
Restart=always
WorkingDirectory={{ cappuccino_dir }}
ProtectSystem=full
ProtectControlGroups=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
