# {{ ansible_managed }}

[bot]
nick = {{ cappuccino_irc_nick }}
realname = {{ cappuccino_irc_realname }}
username = {{ cappuccino_irc_username }}
host = {{ cappuccino_host }}
port = {{ cappuccino_port }}
ssl = {{ cappuccino_ssl }}
ssl_verify = {{ cappuccino_ssl_verify }}

includes =
{% for include in cappuccino_includes %}
    {{ include }}
{% endfor %}

autojoins =
{% for channel in cappuccino_autojoins %}
    {{ channel|replace("#", "${hash}") }}
{% endfor %}

autocommands =
{% for command in cappuccino_autocommands %}
    {{ command }}
{% endfor %}

flood_burst = {{ cappuccino_flood_burst }}
flood_rate = {{ cappuccino_flood_rate }}
flood_rate_delay = {{ cappuccino_flood_rate_delay }}

[ctcp]
version = cappuccino (https://github.com/FoxDev/cappuccino)

[cappuccino.nickserv]
password = {{ cappuccino_nickserv_password }}

[cappuccino.lastfm]
api_key = {{ cappuccino_lastfm_api_key }}

[cappuccino.urlinfo]
ignore_hostnames =
{% for hostname in cappuccino_ignore_hostnames %}
    {{ hostname }}
{% endfor %}

fake_useragent = {{ cappuccino_fake_useragent }}
fake_useragent_hostnames =
{% for hostname in cappuccino_fake_useragent_hostnames %}
    {{ hostname }}
{% endfor %}

[irc3.plugins.command]
cmd = {{ cappuccino_command_char }}
guard = irc3.plugins.command.mask_based_policy

[irc3.plugins.command.masks]
* = view
{% for mask, role in cappuccino_command_masks.items() -%}
    {{ mask }} = {{ role }}
{% endfor %}

[cappuccino.ai]
max_reply_length = {{ cappuccino_ai_max_reply_length }}
max_loaded_lines = {{ cappuccino_ai_max_loaded_lines }}
word_blacklist =
{% for word in cappuccino_ai_word_blacklist %}
    {{ word }}
{% endfor %}

[cappuccino.sentry]
dsn = {{ cappuccino_sentry_dsn }}

[cappuccino.userdb]
enable_http_server = {{ cappuccino_userdb_http_server }}
http_host = {{ cappuccino_userdb_http_host }}
http_port = {{ cappuccino_userdb_http_port }}

[database]
uri = postgresql://{{ cappuccino_database_user }}:{{ cappuccino_database_password }}@/{{ cappuccino_database }}?host=/run/postgresql
