# {{ ansible_managed }}
telegram:
  token: {{ gentoogram_telegram_key }}
  chats: {{ gentoogram_chats }}

filters:
  antispam_threshold: {{ gentoogram_antispam_threshold }}
  usernames: {{ gentoogram_username_rules }}
  messages: {{ gentoogram_message_rules }}

sentry:
  dsn: {{ gentoogram_sentry_dsn }}

admins: {{ gentoogram_admins }}

logging:
  version: 1
  root:
    level: INFO
    handlers: [console]
  formatters:
    console:
      format: '[%(levelname)-5s] %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      formatter: console
      stream: ext://sys.stdout
