# {{ ansible_managed }}

[Unit]
Description=Flask app: rehome
Before=nginx.service
Requires=postgresql-13.service

[Service]
User={{ rehome_user }}
Environment=FLASK_ENV=production
RuntimeDirectory=rehome
RuntimeDirectoryMode=750
WorkingDirectory={{ rehome_dir }}
ExecStart=/usr/local/bin/poetry run gunicorn -p /run/rehome/rehome.pid --preload -k gevent -n rehome -w 4 --worker-connections=250 --threads {{ ansible_processor_vcpus }} -b unix:/run/rehome/gunicorn.sock "rehome:create_app()"
Restart=always
ProtectSystem=strict
ProtectControlGroups=true
PrivateTmp=true
ReadWritePaths={{ rehome_dir }}
SyslogIdentifier=rehome
PIDFile=/run/rehome/rehome.pid

[Install]
WantedBy=multi-user.target
