#
# {{ ansible_managed }}
#
[Journal]
{% if journald_retention_sec is defined %}
MaxRetentionSec={{ journald_retention_sec }}
{% endif %}

{% if journald_system_max_use is defined %}
SystemMaxUse={{ journald_system_max_use }}
{% endif %}
