#
# {{ ansible_managed }}
#

[Journal]
{% if journald_retention_sec %}
MaxRetentionSec={{ journald_retention_sec }}
{% endif %}

{% if journald_system_max_use %}
SystemMaxUse={{ journald_system_max_use }}
{% endif %}
