#
# {{ ansible_managed }}
#
[Unit]
Description=Flask app: pste
Before=nginx.service
Requires=postgresql-13.service

[Service]
User={{ pste_user }}
Environment=FLASK_ENV=production
RuntimeDirectory=pste
RuntimeDirectoryMode=750
WorkingDirectory={{ pste_dir }}
ExecStart=/usr/local/bin/poetry run gunicorn -p /run/pste/pste.pid --preload -k gevent -n pste -w 4 --worker-connections=250 --threads {{ ansible_processor_vcpus }} -b unix:/run/pste/gunicorn.sock "pste:create_app()"
Restart=always
ProtectSystem=strict
ProtectControlGroups=true
PrivateTmp=true
ReadWritePaths={{ pste_dir }}
SyslogIdentifier=pste
PIDFile=/run/pste/pste.pid

[Install]
WantedBy=multi-user.target
