#
# {{ ansible_managed }}
#

[Resolve]
{% if systemd_resolved_dnssec|default(true) %}
DNSSEC=allow-downgrade
{% endif %}
{% if systemd_resolved_dnsovertls|default(true) %}
DNSOverTLS=opportunistic
{% endif %}
